
html { 
  background: url(../images/photo.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

body img.logo {
    display: block;
    position: fixed;
    float: right;
    max-width: 100%;
    bottom:0;
    left:0;
}

body div {
    color:#FFF;
    font-size: 40px;
    display: block;
    position: fixed;
    float: left;
    top:0;
    left:0;
    text-align: center;
    width:40%;
    padding:5%;
}
body div img {
    max-width: 70%;
}

a {
    color:#FFF;
    text-transform: none;
    text-decoration: none;
}