<!DOCTYPE html>
<html lang="pt">
<head>
	<script>
		//window.location.replace("https://www.youtube.com/watch?v=RJHx5Toxwzk"); //videoclipe
	</script>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-122379890-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-166762733-1');
	</script>
	<script src="https://code.jquery.com/jquery-1.11.3.js"></script>
	<meta charset="UTF-8">
	<link rel="apple-touch-icon" sizes="57x57" href="/static/images/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/static/images/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/static/images/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/static/images/apple-icon-76x76.png">

	<link rel="apple-touch-icon" sizes="114x114" href="/static/images/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/static/images/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/static/images/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/static/images/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-icon-180x180.png">

	<link rel="icon" type="image/png" sizes="192x192"  href="/static/images/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/static/images/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">

	<link rel="manifest" href="/static/images/manifest.json">

	<meta name="msapplication-TileColor" content="#000000">
	<meta name="msapplication-TileImage" content="/static/images/ms-icon-144x144.png">

	<meta name="theme-color" content="#000000">
	<meta name="description" content="{{ .Meta_text }}" />

	<meta property="og:locale" content="pt-br" />
	<meta property="og:url" content="{{ .Meta_url }}{{ .Url_path }}" />
	<meta property="og:title" content="{{ .Meta_title }}" />
	<meta property="og:site_name" content="{{ .Meta_title }}" />
	<meta property="og:description" content="{{ .Meta_text }}" />
	<meta property="og:image" content="{{ .Meta_url }}/static/images/{{ .Domain }}/photo.jpg" />
	<meta property="og:image:type" content="image/png" />
	<meta property="og:image:width" content="948" />
	<meta property="og:image:height" content="424" />
	<meta property="og:type" content="website" />
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link href="https://fonts.googleapis.com/css2?family=Cabin+Sketch&display=swap" rel="stylesheet" />
	<link rel="stylesheet" href="/static/css/reset.css" />
	<style>
		html {
			background: url("/static/images/{{ .Domain }}/photo.jpg") no-repeat center center fixed;
		}
	</style>
	<link rel="stylesheet" href="/static/css/style.css" />

	<title>{{ .Meta_title }}</title>

</head>
<body>
	{{ if .Cta_exists }}
	<div id="disco">
			<a alt="'{{ .Cta }}'" title="{{ .Cta }}'" href="/{{ .Cta_url }}" target="_blank"><img src="/static/images/{{ .Domain }}/cta.jpg" /><br />
				{{ .Cta }}
			</a>
		<br />
	</div>
	{{ end }}
	<img src="/static/images/{{ .Domain }}/logo.png" alt="{{ .Artist_name }}" class="logo" />
	<menu>
		{{ if .Soundcloud_exists }}
			<a alt="{{ .Artist_name }} - SoundCloud" title="Follow {{ .Artist_name }} on SoundCloud" href="{{ .Soundcloud_link }}" target="_blank"><img src="/static/images/links-soundcloud.png" /></a></br />
		{{ end }}
		{{ if .Facebook_exists }}
			<a alt="{{ .Artist_name }} - Facebook"   title="Follow {{ .Artist_name }} on Facebook" href="{{ .Facebook_link }}" target="_blank"><img src="/static/images/links-facebook.png" /></a></br />
		{{ end }}
		{{ if .Instagram_exists }}
			<a alt="{{ .Artist_name }} - Instagram"  title="Follow {{ .Artist_name }} on Instagram" href="{{ .Instagram_link }}" target="_blank"><img src="/static/images/links-instagram.png" /></a></br />
		{{ end }}
		{{ if .Youtube_exists }}
			<a alt="{{ .Artist_name }} - Youtube"    title="Follow {{ .Artist_name }} on Youtube" href="{{ .Youtube_link }}" target="_blank"><img src="/static/images/links-youtube.png" /></a></br />
		{{ end }}
		{{ if .Spotify_exists }}
			<a alt="{{ .Artist_name }} - Spotify"    title="Follow {{ .Artist_name }} on Spotify" href="{{ .Spotify_link }}" target="_blank"><img src="/static/images/links-spotify.png" />
		{{ end }}
	</menu>
</body>
</html>
